<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 unassigned-tasks">
            <div class="row unassigned-tasks-count"></div>
            <div class="row list-of-unassigned-tasks">
            
            </div>
        </div> 
        <div class="col-md-4 employees-with-assigned-tasks">
            <div class="row assigned-tasks-count"></div>
            <div class="row list-of-employees"></div>
        </div> 
        <div class="col-md-4 tasks-for-selected-employee">
            <div class="row employee-selected-name"></div>
            <div class="row list-of-assigned-tasks"></div>
        </div>    
    </div>
</div>